<h1>Convert <%= @original_currency%></h1>
<p>Go <a href="/">back</a>.</p>
<ul>
<%@currencies.each do |key, value| %>
<li>
<%@display = "Convert 1 #{@original_currency} to #{key}... " %>
<%@choice = key%>
<a href="/<%=@original_currency%>/<%=@choice%>"><%=@display%></a>
</li>
<%end%>
</ul>
